# IP Camera URL (RTSP or HTTP)
IP_CAMERA_URL=http://192.168.1.82:81/stream

# RTSP with credentials (if required)
# RTSP_USER=admin
# RTSP_PASSWORD=your_password
# RTSP_URL=rtsp://${RTSP_USER}:${RTSP_PASSWORD}@192.168.1.92:554/onvif1

# Model path (relative or absolute)
MODEL_PATH=models/day_evening_night_clear_cloudy_partly_cloudy_classifier_20240923.h5
