# IP Camera URL (RTSP or HTTP)
IP_CAMERA_URL=

# RTSP with credentials
# RTSP_USER=admin
# RTSP_PASSWORD=your_password
# RTSP_URL=rtsp://${RTSP_USER}:${RTSP_PASSWORD}@your_camera_ip:554/onvif1

# Model path (relative or absolute)
MODEL_PATH=models/day_evening_night_clear_cloudy_partly_cloudy_classifier_20240923.h5
